

#allcontainer {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
}

#normals{
display: none;
}


#main {
    float: left;
}
#marvel {
    float:left;
}

#capcom {
    float:right;
}

#words {
    padding-top: 40px;
    padding-left: 20px;
    margin: 30px;
    width: 750px;
}

#gamesbar {
    font: 1em sans-serif;
    margin: 4px;
    border: 1px solid black;
    clear: both;
    width: 230px;
    float: right;
    list-style-type: none;
}

#gamesbar li {
    font: 1em sans-serif;
    margin: 4px;
    border: 2px solid white;
    clear: both;
    width: 170px;
    float: right;
    list-style-type: none;
}

#topbar li {
    font: 1em sans-serif;
    text-align: center;
    list-style-type: none;
    display: inline;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 10px 10px 0 0;
    border: 1px solid black;
    
   }
#notation{
    font: 28px monospace;
}

#aka {
    font: 16px monospace;
    
}

#damage {
    font: 24px monospace;
/*    float: right;*/
    margin: 10px;
    padding-right: 100px;
}

#stun {
    font: 24px monospace;
/*    float: right;*/
    margin: 10px;
    padding-right: 100px;
}

#description {
    width: 600px;
}


#modified {
    text-align: center;
}

.charactercombosubmit {
    text-align: center;
}