

.container {
    padding: 20px;
    border: 1px solid black;
}

#words {
    margin: 30px;
    width: 750px;
}

#gamesbar {
    font: 18px sans-serif;
    margin: 4px;
    border: 2px solid white;
    clear: both;
    width: 230px;
    float: right;
    list-style-type: none;
}

#gamesbar li {
    font: 18px sans-serif;
    margin: 4px;
    border: 2px solid white;
    clear: both;
    width: 230px;
    float: right;
    list-style-type: none;
}

#topbar li {
    font: 18px sans-serif;
    text-align: center;
    list-style-type: none;
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px 10px 0 0;
    border: 1px solid black;
    
   }
#notation{
    font: 18px sans-serif;
}

#aka {
    font-size: 16px;
}

#damage {
    font: 30px fantasy;
    float: right;
    margin: 10px;
    padding-right: 100px;
}

#stun {
    font: 30px fantasy;
    float: right;
    margin: 10px;
    padding-right: 100px;
}

#description {
    width: 600px
}

#modified {
    text-align: center;
}

.charactercombosubmit {
    text-align: center;
}