<!--
<div class="container" ng-app="frameData" ng-controller="ngCombo">

  <div class="alert alert-info">
    <p>Sort Type: {{ sortType }}</p>
    <p>Sort Reverse: {{ sortReverse }}</p>
    <p>Search Query: {{ searchFish }}</p>
  </div>

  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search da Fish" ng-model="searchFish">
      </div>
    </div>
  </form>

  <table class="table table-bordered table-striped">

    <thead>
      <tr>
        <td>
          <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Sushi Roll
            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'fish'; sortReverse = !sortReverse">
          Fish Type
            <span ng-show="sortType == 'fish' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'fish' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'tastiness'; sortReverse = !sortReverse">
          Taste Level
            <span ng-show="sortType == 'tastiness' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'tastiness' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="roll in sushi | orderBy:sortType:sortReverse | filter:searchFish">
        <td>{{ roll.name }}</td>
        <td>{{ roll.fish }}</td>
        <td>{{ roll.tastiness }}</td>
      </tr>
    </tbody>

  </table>

  <p class="text-center text-muted">
    <a href="#" target="_blank">Read the Tutorial</a>
  </p>

  <p class="text-center">
    by <a href="http://scotch.io" target="_blank">scotch.io</a>
  </p>

</div> -->



<div class="container">
  <h2>Chun Li frame data</h2>
  <p><a href="">how to read this data</a></p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Move</th>
        <th>Dmg</th>
        <th>Guard</th>
        <th>Stun</th>
        <th>Meter</th>
        <th>Startup</th>
        <th>Active</th>
        <th>Recovery</th>
        <th>On block</th>
        <th>On Hit</th>
        <th>Cancel</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- move -->
        <td>s. LP</td>

        <!-- damage -->
        <td>100</td>

        <!-- guard type -->
        <td>HL</td>

        <!-- stun -->
        <td>100</td>

        <!-- meter -->
        <td>10/30</td>

        <!-- startup -->
        <td>3</td>

        <!-- active -->
        <td>3</td>

        <!-- recovery -->
        <td>4</td>

        <!-- advantage on block -->
        <td>+3</td>

        <!-- advantage on hit -->
        <td>+5</td>

        <!-- cancel ability -->
        <td>sp, su, vt, hp</td>

        <!-- other notes -->
        <td></td>
      </tr>
      <tr>
        <td>s. MP</td>
        <td>100</td>
        <td>HL</td>
        <td>100</td>
        <td>10/30</td>
        <td>3</td>
        <td>3</td>
        <td>4</td>
        <td>+3</td>
        <td>+5</td>
        <td>sp, su, vt, hp</td>
        <td>full taint invincibility</td>
      </tr>
      <tr>
        <td>s. HP</td>
        <td>100</td>
        <td>HL</td>
        <td>100</td>
        <td>10/30</td>
        <td>3</td>
        <td>3</td>
        <td>4</td>
        <td>+3</td>
        <td>+5</td>
        <td>sp, su, vt, hp</td>
        <td>full taint invincibility</td>
      </tr>
    </tbody>
  </table>
</div>
