
    <section>
        <h2>Ryu</h2>
        <h4>Street Fighter V</h4>
    </section>
    combos we gots:
<!--    consider table to sort?  -->
    <ul>
    <li><a href="#/test">c. MK > Hadoken > Shunku Hadoken</a></li>
    <li><a href="#/test2">f + Hp , Lp > c.HP > M Tatsu , Critical Art</a></li>
    <li>f + HP, LP > c.HP > v trigger > c. MP > M Tatsu, EX shoryu</li>
    <li><strike> uppercut FADC ultra</strike></li>
    </ul>
    <br>
    <br>
    
    <div> all the ryu combos for sfv
<!--
        <ul>
            <li ng-repeat = "combos in combosbycharacter">{{combo.notation}}</li>
        </ul>
-->
    </div>


   <div class="container" ng-repeat="combo in combosbycharacter">
    <div class="well" class="col-md-6">
       <h1>{{ combo.notation }}</h1>
       
       <p>character: {{ combo.character }}</p>
       <p>game: {{ combo.game }}</p>
       <p>dmg: {{ combo.damage }}</p>
       <p>tags: {{ combo.tags }}</p>
       <p>stun: {{ combo.stun }}</p>
       <p>notes: {{ combo.notes }}</p>

        <button type="submit" ng-click="deleteCombo(combo._id)">x</button>
<!--        <button type="" >edit</button>-->
    </div>
    
</div>
    
<!--    <image src="../ryu-ts-stance.gif" alt="idle animation of ryu from third strike"></image>-->
