
    <section>
        <h3>Select your character:</h3>
        
        <ul>
            <li></li>
            
        </ul>
        
<!--
        <div ng-repeat="combo in getyecharacters">
        <p>{{ combo.character }}</p>
        </div>
        
-->
       
       <h1>all the combos</h1>
   <div class="container row" ng-repeat="combo in getyecharacters">
    <div class="well" class="col-md-6">
       <h1>{{ combo.notation }}</h1>
       
       <p>character: {{ combo.character }}</p>
       <p>game: {{ combo.game }}</p>
       <p>dmg: {{ combo.damage }}</p>
       <p>tags: {{ combo.tags }}</p>
       <p>stun: {{ combo.stun }}</p>
       <p>notes: {{ combo.notes }}</p>

        <button type="submit" ng-click="deleteCombo(combo._id)">x</button>
<!--        <button type="" >edit</button>-->
    </div>
    
</div>
    
        
    </section>
    
   