
    
    <section id="words">Don't see the combo you're looking for? submit it to the database! <br>Work in progress </section>
    <div>* = required!</div><hr>
    
    
    
    <div id="submitform">
       <form ng-submit="createCombo()">
       <div class="container-fluid">
        <div class="row" >
            <div class="form-group col-xs-5">
                <label for="game">* Game:</label>
                    <select class="form-control" id="game" ng-model="comboData.game">
                        <option value = "Street Fighter V">Street Fighter V</option>
                        <option value = "Skullgirls">Skullgirls</option>
                        <option value = "UMVC3">Marvel 3</option>
    <!--
                        <option value = "ggac">Guilty Gear AC +R</option>
                        <option value = "ggxrd">Guilty Gear Xrd</option>
                        <option value = "kof13">King of Fighters XIII</option>
    -->

                    </select>
            </div>
        </div>
        
        <label for="character">* Character:</label> <br>
        
        <div class="row">
            <div ng-show="comboData.game == 'Street Fighter V'" class="form-group col-xs-5">
                

                <select class="form-control" id="character" ng-model="comboData.character">
                            <option value = "Ryu">Ryu</option>
                            <option value = "Chun Li">Chun</option>
                            <option value = "Nash">Nash</option>
                            <option value = "Dictator">Dictator (Bison)</option>
                            <option value = "Claw">Claw (Vega)</option>
                            <option value = "Cammy">Cammy</option>
                            <option value = "Birdie">Birdie</option>
                            <option value = "Ken">Ken</option>
                            <option value = "Necalli">Necalli</option>
                            <option value = "R Mika">R Mika</option>
                            <option value = "Rashid">Rashid</option>
                            <option value = "Karin">Karin</option>
                            <option value = "Zangief">Zangief</option>
                            <option value = "Laura">Laura</option>
                            <option value = "Juri">Juri</option>
                            <option value = "Zen">Zen</option>
                            <option value = "Dhalsim">Dhalsim</option>

                        </select>
            </div>
        </div>
        
           
        <span>
            <span ng-show="comboData.game == 'UMVC3'" id="capcom"  class="form-group col-xs-5">
                
                <span>Capcom</span>
                <select class="form-control" ng-model="comboData.character">
                            <option value = "Akuma">Akuma</option>
                            <option value = "Amaterasu">Amaterasu</option>
                            <option value = "Arthur">Arthur</option>
                            <option value = "C Viper">C Viper</option>
                            <option value = "Chris">Chris</option>
                            <option value = "Chun Li">Chun Li</option>
                            <option value = "Dante">Dante</option>
                            <option value = "Felicia">Felicia</option>
                            <option value = "Firebrand">Firebrand</option>
                            <option value = "Frank West">Frank West</option>
                            <option value = "Haggar">Haggar</option>
                            <option value = "Hsien Ko">Hsien Ko</option>
                            <option value = "Jill">Jill</option>
                            <option value = "Morrigan">Morrigan</option>
                            <option value = "Nemesis">Nemesis</option>
                            <option value = "Phoenix Wright">Phoenix Wright</option>
                            <option value = "Ryu">Ryu</option>
                            <option value = "Spencer">Spencer</option>
                            <option value = "Strider">Strider</option>
                            <option value = "Trish">Trish</option>
                            <option value = "Tron Bonne">Tron Bonne</option>
                            <option value = "Vergil">Vergil</option>
                            <option value = "Viewtiful Joe">Viewtiful Joe</option>
                            <option value = "Wesker">Wesker</option>
                            <option value = "Zero">Zero</option>


                        </select>
            </span>
        </span>
        
        <span>
            <span ng-show="comboData.game == 'UMVC3'"  id="marvel" class="form-group col-xs-5">
                <label for="character"></label>
                <span>Marvel:</span>
                <select class="form-control" ng-model="comboData.character">
                            <option value = "Captain America">Captain America</option>
                            <option value = "Deadpool">Deadpool</option>
                            <option value = "Doctor Doom">Doctor Doom</option>
                            <option value = "Doctor Strange">Doctor Strange</option>
                            <option value = "Dormammu">Dormammu</option>
                            <option value = "Ghost Rider">Ghost Rider</option>
                            <option value = "Hawkeye">Hawkeye</option>
                            <option value = "Hulk">Hulk</option>
                            <option value = "Iron Fist">Iron Fist</option>
                            <option value = "Iron Man">Iron Man</option>
                            <option value = "Magneto">Magneto</option>
                            <option value = "MODOK">MODOK</option>
                            <option value = "Nova">Nova</option>
                            <option value = "Phoenix">Phoenix</option>
                            <option value = "Rocket Raccoon">Rocket Raccoon</option>
                            <option value = "Sentinel">Sentinel</option>
                            <option value = "She Hulk">She Hulk</option>
                            <option value = "Shuma Gorath">Shuma Gorath</option>
                            <option value = "Spider Man">Spider Man</option>
                            <option value = "Storm">Storm</option>
                            <option value = "Super Skrull">Super Skrull</option>
                            <option value = "Taskmaster">Taskmaster</option>
                            <option value = "Thor">Thor</option>
                            <option value = "Wolverine">Wolverine</option>
                            <option value = "X 23">X 23</option>
                            
                        </select>
            </span>
        </span>
        
        <div class="row" >
                <div ng-show="comboData.game == 'Skullgirls'" class="form-group col-xs-5">

                    <select class="form-control" id="character" ng-model="comboData.character">
                                <option value = "Squigly">Squigly</option>
                                <option value = "Big Band">Big Band</option>
                                <option value = "Eliza">Eliza</option>
                                <option value = "Ms Fortune">Ms Fortune</option>
                                <option value = "Peacock">Peacock</option>
                                <option value = "Painwheel">Painwheel</option>
                                <option value = "Filia">Filia</option>
                                <option value = "Bella">Cerabella</option>
                                <option value = "Valentine">Valentine</option>
                                <option value = "Parasoul">Parasoul</option>
                                <option value = "Double">Double</option>
                                <option value = "Fukua">Fukua</option>
                                <option value = "Beowulf">Beowulf</option>
                                <option value = "Robo Fortune">Robo Fortune</option>

                            </select>
                    </div>
        </div>
        
        
        <div class="row" >
            <div class="form-group col-xs-5">
                <label for="notation"  data-toggle="tooltip" title="notation">* Combo Notation:</label>
                <input type="text" class="form-control" id="notationinput"  ng-model="comboData.notation"> 
            </div>
        </div>

        <div class="row" >
            <div class="form-group col-xs-5">
                <label for="damage">* Damage:</label>
                <input type="text" class="form-control" id="damageinput"  ng-model="comboData.damage"> <br>
            </div>
        </div>

        <div class="row" >   
            <div class="form-group col-xs-5">             
                <label for="stun">Stun:</label>
                <input type="text" class="form-control" ng-model="comboData.stun"> <br>
            </div>
        </div>
        
        <div class="row" >
            <div class="form-group col-xs-5">
                <label for="description">Notes:</label>
                <textarea type="text" class="form-control" rows= "5"  ng-model="comboData.notes"></textarea> 
            </div>
        </div>
        
        <div class="row" >
            <div class="form-group col-xs-5">
                <label for="tags">* Tags (separated by commas)</label>
                <input type="text" class="form-control" id="tagsinput"  ng-model="comboData.tags">
            </div>
        </div>
<!--
        <label for="who">tested on:</label>
        <div class="checkbox">
        <span class="checkbox disabled">
          <label><input type="checkbox" value="" disabled>ryu</label>
        </span>
        
                <span class="checkbox disabled">
          <label><input type="checkbox" value="" disabled>chun</label>
        </span>
        
                <span class="checkbox disabled">
          <label><input type="checkbox" value="" disabled>nash</label>
        </span>
        
                <span class="checkbox disabled">
          <label><input type="checkbox" value="" disabled>bison</label>
        </span>
        </div>
-->
        <!--
        <label for="aka" >Other names:</label>
        <input type="text" class="form-control" id="akainput"  ng-model="comboData.aka"> <br>
-->

<!--
        <label for="video">Youtube Embed Link</label>
        <input type="text" class="form-control" id="videoinput"  ng-model="comboData.yt"> <br>
        
        <label for="modified"  ng-model="comboData.modified">Last Modified *(auto fills in)</label>    
-->

<!--
       <span ng-show="comboData.game == 'sfv'">
        <label for="who">tested on:</label>
        <span class="checkbox">

        <label class="checkbox-inline"><input type="checkbox" value="">Ryu</label>

        <label class="checkbox-inline"><input type="checkbox" value="">Chun</label> 

        <label class="checkbox-inline"><input type="checkbox" value="">Nash</label>

        <label class="checkbox-inline"><input type="checkbox" value="">Dictator</label>

        <label class="checkbox-inline"><input type="checkbox" value="">Cammy</label> <br>

        <label class="checkbox-inline"><input type="checkbox" value="">Birdie</label> 

        <label class="checkbox-inline"><input type="checkbox" value="">Ken</label>

        <label class="checkbox-inline"><input type="checkbox" value="">Necalli</label>

        <label class="checkbox-inline"><input type="checkbox" value="">Claw</label>

        <label class="checkbox-inline"><input type="checkbox" value="">R Mika</label> <br>

        <label class="checkbox-inline"><input type="checkbox" value="">Rashid</label>

        <label class="checkbox-inline"><input type="checkbox" value="">Karin</label> 

        <label class="checkbox-inline"><input type="checkbox" value="">Zangeif</label>

        <label class="checkbox-inline"><input type="checkbox" value="">Laura</label>

        <label class="checkbox-inline"><input type="checkbox" value="">Juri</label>

        </span>
        
        did it work?
        
        
        </span>
-->
<!--    </div>-->
          </div>
           
        <br><br>
        
        <button type="submit" class="btn btn-default">create it</button>
        
        <br><br><br><br><br>
        </form>
    </div>
    
    