
    
    <section id="words">Don't see the combo you're looking for? submit it to the database! <br>Work in progress </section>
    <div>* = required!</div><hr>
    
    
    
    <div id="submitform">
       <form ng-submit="createCombo()">
       <div class="container-fluid">
        <div class="row" >
            <div class="form-group col-xs-7">
                <label for="game">* Game:</label>
                    <select class="form-control" id="game" ng-model="comboData.game">
                        <option value = "Street Fighter V">Street Fighter V</option>
                        <option value = "Skullgirls">Skullgirls</option>
                        <option value = "UMVC3">Marvel 3</option>
                        <option value = "Guilty Gear AC +R">Guilty Gear AC +R</option>
<!--                        <option value = "Guilty Gear Xrd">Guilty Gear Xrd</option>-->
                        <option value = "KOF XIII">King of Fighters XIII</option>
    

                    </select>
            </div>
        </div>
        
        <label for="character">* Character:</label> <br>
        
        <div class="row">
            <div ng-show="comboData.game == 'Street Fighter V'" class="form-group col-xs-8">
                

                <select class="form-control" id="character" ng-model="comboData.character">
                        <option value = "Ryu">Ryu</option>
                        <option value = "Chun Li">Chun Li</option>
                        <option value = "Nash">Nash</option>
                        <option value = "Bison">Bison(dictator)</option>
                        <option value = "Vega">Vega (claw)</option>
                        <option value = "Cammy">Cammy</option>
                        <option value = "Birdie">Birdie</option>
                        <option value = "Ken">Ken</option>
                        <option value = "Necalli">Necalli</option>
                        <option value = "R Mika">R Mika</option>
                        <option value = "Rashid">Rashid</option>
                        <option value = "Karin">Karin</option>
                        <option value = "Zangief">Zangief</option>
                        <option value = "Laura">Laura</option>
                        <option value = "Dhalsim">Dhalsim</option>
                        <option value = "Juri">Juri</option>
                        <option value = "Zen">Zen</option>

                        </select>
            </div>
        </div>
        
           
        <span>
            <span ng-show="comboData.game == 'UMVC3'" id="capcom"  class="form-group col-xs-8">
                
                <span>Capcom</span>
                <select class="form-control" ng-model="comboData.character">
                        <option value = "Akuma">Akuma</option>
                        <option value = "Amaterasu">Amaterasu</option>
                        <option value = "Arthur">Arthur</option>
                        <option value = "C Viper">C Viper</option>
                        <option value = "Chris">Chris</option>
                        <option value = "Chun Li">Chun Li</option>
                        <option value = "Dante">Dante</option>
                        <option value = "Felicia">Felicia</option>
                        <option value = "Firebrand">Firebrand</option>
                        <option value = "Frank West">Frank West</option>
                        <option value = "Haggar">Haggar</option>
                        <option value = "Hsien Ko">Hsien Ko</option>
                        <option value = "Jill">Jill</option>
                        <option value = "Morrigan">Morrigan</option>
                        <option value = "Nemesis">Nemesis</option>
                        <option value = "Phoenix Wright">Phoenix Wright</option>
                        <option value = "Ryu">Ryu</option>
                        <option value = "Spencer">Spencer</option>
                        <option value = "Strider">Strider</option>
                        <option value = "Trish">Trish</option>
                        <option value = "Tron Bonne">Tron Bonne</option>
                        <option value = "Vergil">Vergil</option>
                        <option value = "Viewtiful Joe">Viewtiful Joe</option>
                        <option value = "Wesker">Wesker</option>
                        <option value = "Zero">Zero</option>


                        </select>
            </span>
        </span> <br>
        
        <span>
            <span ng-show="comboData.game == 'UMVC3'"  id="marvel" class="form-group col-xs-8">
                <label for="character"></label> 
                <span>Marvel:</span>
                <select class="form-control" ng-model="comboData.character">
                    <option value = "Captain America">Captain America</option>
                    <option value = "Deadpool">Deadpool</option>
                    <option value = "Doctor Doom">Doctor Doom</option>
                    <option value = "Doctor Strange">Doctor Strange</option>
                    <option value = "Dormammu">Dormammu</option>
                    <option value = "Ghost Rider">Ghost Rider</option>
                    <option value = "Hawkeye">Hawkeye</option>
                    <option value = "Hulk">Hulk</option>
                    <option value = "Iron Fist">Iron Fist</option>
                    <option value = "Iron Man">Iron Man</option>
                    <option value = "Magneto">Magneto</option>
                    <option value = "MODOK">MODOK</option>
                    <option value = "Nova">Nova</option>
                    <option value = "Phoenix">Phoenix</option>
                    <option value = "Rocket Raccoon">Rocket Raccoon</option>
                    <option value = "Sentinel">Sentinel</option>
                    <option value = "She Hulk">She Hulk</option>
                    <option value = "Shuma Gorath">Shuma Gorath</option>
                    <option value = "Spider Man">Spider Man</option>
                    <option value = "Storm">Storm</option>
                    <option value = "Super Skrull">Super Skrull</option>
                    <option value = "Taskmaster">Taskmaster</option>
                    <option value = "Thor">Thor</option>
                    <option value = "Wolverine">Wolverine</option>
                    <option value = "X 23">X 23</option>
                            
                        </select>
            </span>
        </span>
        
        <div class="row" >
            <div ng-show="comboData.game == 'Skullgirls'" class="form-group col-xs-8">

                <select class="form-control" id="character" ng-model="comboData.character">
                        <option value = "Squigly">Squigly</option>
                        <option value = "Big Band">Big Band</option>
                        <option value = "Eliza">Eliza</option>
                        <option value = "Ms Fortune">Ms Fortune</option>
                        <option value = "Peacock">Peacock</option>
                        <option value = "Painwheel">Painwheel</option>
                        <option value = "Filia">Filia</option>
                        <option value = "Bella">Cerabella</option>
                        <option value = "Valentine">Valentine</option>
                        <option value = "Parasoul">Parasoul</option>
                        <option value = "Double">Double</option>
                        <option value = "Fukua">Fukua</option>
                        <option value = "Beowulf">Beowulf</option>
                        <option value = "Robo Fortune">Robo Fortune</option>

                        </select>
                </div>
        </div>
        
        
        <div class="row">
            <div ng-show="comboData.game == 'Guilty Gear AC +R'" class="form-group col-xs-8">
                   <select class="form-control" id="character" ng-model="comboData.character">
                        <option value = "ABA">ABA</option>
                        <option value = "Anji">Anji</option>
                        <option value = "Axl">Axl</option>
                        <option value = "Baiken">Baiken</option>
                        <option value = "Bridget">Bridget</option>
                        <option value = "Chipp">Chipp</option>
                        <option value = "Dizzy">Dizzy</option>
                        <option value = "Eddie">Eddie</option>
                        <option value = "Faust">Faust</option>
                        <option value = "I-no">I-no</option>
                        <option value = "Jam">Jam</option>
                        <option value = "Johnny">Johnny</option>
                        <option value = "Justice">Justice</option>
                        <option value = "Kliff">Kliff</option>
                        <option value = "Ky">Ky</option>
                        <option value = "May">May</option>
                        <option value = "Millia">Millia</option>
                        <option value = "Order-Sol">Order-Sol</option>
                        <option value = "Potemkin">Potemkin</option>
                        <option value = "Robo-Ky">Robo-Ky</option>
                        <option value = "Slayer">Slayer</option>
                        <option value = "Testament">Testament</option>
                        <option value = "Venom">Venom</option>
                        <option value = "Zappa">Zappa</option>
                        
                        </select>
            </div>
        </div>
        
        
        <div class="row">
            <div ng-show="comboData.game == 'KOF XIII'" class="form-group col-xs-8">
                

                <select class="form-control" id="character" ng-model="comboData.character">
                        <option value = "Kyo">Kyo</option>
                        <option value = "EX Kyo">EX Kyo</option>
                        <option value = "Benimaru">Benimaru</option>
                        <option value = "Daimon">Daimon</option>
                        <option value = "Terry">Terry</option>
                        <option value = "Andy">Andy</option>
                        <option value = "Joe">Joe</option>
                        <option value = "Billy">Billy</option>
                        <option value = "Ash">Ash</option>
                        <option value = "Saiki">Saiki</option>
                        <option value = "Mr Karate">Mr Karate</option>
                        <option value = "K'">K'</option>
                        <option value = "Kula">Kula</option>
                        <option value = "Maxima">Maxima</option>
                        <option value = "Ryo">Ryo</option>
                        <option value = "Robert">Robert</option>
                        <option value = "Takuma">Takuma</option>
                        <option value = "Athena">Athena</option>
                        <option value = "Sie Kensou">Sie Kensou</option>
                        <option value = "Chin">Chin</option>
                        <option value = "Iori">Iori</option>
                        <option value = "EX Iori">EX Iori</option>
                        <option value = "Mature">Mature</option>
                        <option value = "Vice">Vice</option>
                        <option value = "Ralf">Ralf</option>
                        <option value = "Clark">Clark</option>
                        <option value = "Leona">Leona</option>
                            
                            

                        </select>
            </div>
        </div>
        
        
        
        
<!--
                            <option value = ""></option>
                            <option value = ""></option>
                            <option value = ""></option>
                            <option value = ""></option>
                            <option value = ""></option>
                            <option value = ""></option>
                            <option value = ""></option>
                            <option value = ""></option>
                            <option value = ""></option>
                            <option value = ""></option>
                            <option value = ""></option>
                            <option value = ""></option>
                            <option value = ""></option>
                            <option value = ""></option>
                            <option value = ""></option>
                            <option value = ""></option>
                            <option value = ""></option>
                            <option value = ""></option>
-->
        
        
        <div class="row" >
            <div class="form-group col-xs-8">
                <label for="notation"  data-toggle="tooltip" title="notation">* Combo Notation:</label>
                <input type="text" class="form-control" id="notationinput"  ng-model="comboData.notation"> 
            </div>
        </div>

        <div class="row" >
            <div class="form-group col-xs-8">
                <label for="damage">* Damage:</label><br>
                <span>must be a number, give an average if it is variable</span>
                <input type="text" class="form-control" id="damageinput"  ng-model="comboData.damage"> <br>
            </div>
        </div>

        <div class="row" >   
            <div class="form-group col-xs-8" ng-show="comboData.game == 'Skullgirls' || comboData.game == 'Street Fighter V' || comboData.game == 'KOF XIII'">             
                <label for="stun">Stun:</label>
                <span>must be a number</span>
                <input type="text" class="form-control" ng-model="comboData.stun"> <br>
            </div>
        </div>
        
        <div class="row" >
            <div class="form-group col-xs-8" ng-model="comboData.range">
                <label for="range">Range:</label>
                <div class="radio">
                  <label><input type="radio" name="range" value="close" ng-model="comboData.range">only works point blank or very close</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="range" value="mid" ng-model="comboData.range">midrange</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="range" value="far" ng-model="comboData.range">half screen or more</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="range" value="" ng-model="comboData.range">(leave it blank)</label>
                </div>
            </div>
        </div>
        
                <span class="row" >
            <span class="form-group col-xs-8" ng-model="comboData.difficulty">
                <label for="difficulty">Difficulty:</label> <br>
                <span class="radio-inline">
                  <label><input type="radio" name="difficulty" value="1" ng-model="comboData.difficulty">1 </label><span> cakewalk </span><span ng-show="comboData.difficulty == '1'"> low forward fireball </span><br>
                
                  <label><input type="radio" name="difficulty" value="2" ng-model="comboData.difficulty">2 </label><span> easy </span><span ng-show="comboData.difficulty == '2'"> low forward fireball super </span><br>
                
                  <label><input type="radio" name="difficulty" value="3" ng-model="comboData.difficulty">3 </label><span> easy to intermediate with practice </span><span ng-show="comboData.difficulty == '3'"> FADC Ultra</span><br>
                
                  <label><input type="radio" name="difficulty" value="4" ng-model="comboData.difficulty">4 </label><span> above average difficulty </span><span ng-show="comboData.difficulty == '4'"><a href="https://www.youtube.com/watch?v=mRep2L-BfmM" target="_blank"> KOF 100% combo</a></span><br>
                
                  <label><input type="radio" name="difficulty" value="5" ng-model="comboData.difficulty">5 </label> <span> good luck </span>
                  <span ng-show="comboData.difficulty == '5'"><a href="https://www.youtube.com/watch?v=ExvIWy5F91U" target="_blank"> I-no 6FRC6</a></span><br>
                  
                  <label><input type="radio" name="difficulty" value="" ng-model="comboData.difficulty">leave it blank </label>
                  <span ng-show="comboData.difficulty == ''"></span>
                </span>
            </span>
        </span>
        
        <div class="row" >
            <div class="form-group col-xs-8">
                <label for="notes">Notes:</label>
                <textarea type="text" class="form-control" rows= "8"  ng-model="comboData.notes"></textarea> 
            </div>
        </div>
        
        <div class="row" >
            <div class="form-group col-xs-8">
                <label for="damage">* Tags:</label>
                <input type="text" class="form-control" id="damageinput"  ng-model="comboData.tags"> <br>
            </div>
        </div>
        
<!--
        <div class="row" >
            <div class="form-group col-xs-8">
                <label for="tags">* Tags</label>
                <input type="text" class="form-control" id="tagsinput">

        
                <span class="checkbox disabled" ng-model="comboData.tags">
                  <label><input type="checkbox" name="tags" value="midscreen" ng-model="comboData.tags">midscreen</label>
                </span>
                <span class="checkbox">
                  <label><input type="checkbox" name="tags" value="corner" ng-model="comboData.tags">corner</label>
                   </span>
                <span class="checkbox">
                  <label><input type="checkbox" name="tags" value="bnb" ng-model="comboData.tags">bread n butter</label>
                </span>
                <span class="checkbox">
                  <label><input type="checkbox" name="tags" value="meterless" ng-model="comboData.tags">meterless</label>
                </span>
                <span class="checkbox">
                  <label><input type="checkbox" name="tags" value="meter burn" ng-model="comboData.tags">meter burn</label>
                </span>
                <span class="checkbox">
                  <label><input type="checkbox" name="tags" value="super" ng-model="comboData.tags">super</label>
                </span>
                <span class="checkbox">
                  <label><input type="checkbox" name="tags" value="low starter" ng-model="comboData.tags">low starter</label>
                </span>
                <span class="checkbox">
                  <label><input type="checkbox" name="tags" value="overhead starter" ng-model="comboData.tags">overhead starter</label>
                </span>
                <span class="checkbox">
                  <label><input type="checkbox" name="tags" value="punish" ng-model="comboData.tags">punish</label>
                </span>
                <span class="checkbox">
                  <label><input type="checkbox" name="tags" value="crossup" ng-model="comboData.tags">crossup</label>
                </span>
                </span>
                <hr>
                

                <span class="checkbox disabled">
                  <label><input type="checkbox" name="tags" value="v trigger" ng-show= "comboData.game == 'Street Fighter V'">v trigger</label>
                </span>
                <span class="checkbox disabled">
                  <label><input type="checkbox" name="tags" value="v skill" ng-show= "comboData.game == 'Street Fighter V'">v skill</label>
                </span>
                <span class="checkbox disabled" ng-show="comboData.game == 'UMVC3' || comboData.game == 'Skullgirls'">
                  <label><input type="checkbox" name="tags" value="assist">assist</label>
                </span>
-->
<!--
                <span class="checkbox disabled">
                  <label><input type="checkbox" value="hd" disabled>hd</label>
                </span>
                <span class="checkbox disabled">
                  <label><input type="checkbox" value="roman cancel" disabled>roman cancel</label>
                </span>
-->
<!--
                <span class="checkbox disabled">
                  <label><input type="checkbox" name="tags" value="big stun">big stun</label>
                </span>
-->
<!--
                <span class="checkbox disabled" ng-show="comboData.game == 'Skullgirls'">
                  <label><input type="checkbox" name="tags" value="burst bait">burst bait</label>
                </span>        
                
            </div>
        </div>                
-->
<!--
        <label for="who">tested on:</label>
        <div class="checkbox">
        <span class="checkbox disabled">
          <label><input type="checkbox" value="" disabled>ryu</label>
        </span>
        
                <span class="checkbox disabled">
          <label><input type="checkbox" value="" disabled>chun</label>
        </span>
        
                <span class="checkbox disabled">
          <label><input type="checkbox" value="" disabled>nash</label>
        </span>
        
                <span class="checkbox disabled">
          <label><input type="checkbox" value="" disabled>bison</label>
        </span>
        </div>
-->
        <!--
        <label for="aka" >Other names:</label>
        <input type="text" class="form-control" id="akainput"  ng-model="comboData.aka"> <br>
-->

<!--
        <label for="video">Youtube Embed Link</label>
        <input type="text" class="form-control" id="videoinput"  ng-model="comboData.yt"> <br>
        
        <label for="modified"  ng-model="comboData.modified">Last Modified *(auto fills in)</label>    
-->

<!--
       <span ng-show="comboData.game == 'sfv'">
        <label for="who">tested on:</label>
        <span class="checkbox">

        <label class="checkbox-inline"><input type="checkbox" value="">Ryu</label>

        <label class="checkbox-inline"><input type="checkbox" value="">Chun</label> 

        <label class="checkbox-inline"><input type="checkbox" value="">Nash</label>

        <label class="checkbox-inline"><input type="checkbox" value="">Dictator</label>

        <label class="checkbox-inline"><input type="checkbox" value="">Cammy</label> <br>

        <label class="checkbox-inline"><input type="checkbox" value="">Birdie</label> 

        <label class="checkbox-inline"><input type="checkbox" value="">Ken</label>

        <label class="checkbox-inline"><input type="checkbox" value="">Necalli</label>

        <label class="checkbox-inline"><input type="checkbox" value="">Claw</label>

        <label class="checkbox-inline"><input type="checkbox" value="">R Mika</label> <br>

        <label class="checkbox-inline"><input type="checkbox" value="">Rashid</label>

        <label class="checkbox-inline"><input type="checkbox" value="">Karin</label> 

        <label class="checkbox-inline"><input type="checkbox" value="">Zangeif</label>

        <label class="checkbox-inline"><input type="checkbox" value="">Laura</label>

        <label class="checkbox-inline"><input type="checkbox" value="">Juri</label>

        </span>
        
        did it work?
        
        
        </span>
-->
<!--    </div>-->
          </div>
           
        <br><br>
        
        <button type="submit" class="btn btn-default">submit combo</button>
        
        <br><br><br><br><br>
        </form>
    </div>
    
    