<h1>all the combos</h1>
  <div class="row">
   <div class="container" ng-repeat="combo in combos">
    <div class="well col-xs-7" rows= "5">
       <h1>{{ combo.notation }}</h1>
       
       <p>character: {{ combo.character }}</p>
       <p>game: {{ combo.game }}</p>
       <p>dmg: {{ combo.damage }}</p>
       <p>range: {{ combo.range }}</p>
       <p>difficulty: {{ combo.difficulty }}</p>
       <p>tags: {{ combo.tags }}</p>
       <p>stun: {{ combo.stun }}</p>
       <p>modified: {{ combo.modified }}</p>

        <button type="submit" ng-click="deleteCombo(combo._id)">x</button>
<!--        <button type="" >edit</button>-->
     </div>
    </div>
  </div>
    