
    
    <section id="words">Don't see the combo you're looking for? submit it to the database! <br>Work in progress </section>
    
    <div id="submitform" class="col-xs-8">

<div ng-app="ngAnimate">     
     <span>
         <label for="movetype">
             <select name="movetype" id="movetype" ng-model="moveType">movetype
                 <option value="normal">normal</option>
                 <option value="commandnormal">command normal</option>
                 <option value="special">special</option>
                 <option value="v skill">v skill</option>
                 <option value="v trigger">v trigger</option>
                 <option value="critical art">critical art</option>
                 <option value="throw">throw</option>
                 <option value="back throw">back throw</option>
            </select>
         </label>
    </span>
    
    
    
</div>
     
     
     
<div ng-if="movetype == 'special'"> 
 <p>normals</p>
  <label>
    <input type="radio" value="jumping">
    jumping
  </label><br/>
  <label>
    <input type="radio" value="standing">
    standing
  </label><br/>
  <label>
    <input type="radio" value="crouching">
    crouching
  </label><br/> <hr>
  
  <label>
    <input type="radio" value="light">
    light
  </label><br/>
  <label>
    <input type="radio" value="medium">
    medium
  </label><br/>
  <label>
    <input type="radio" value="heavy">
    heavy
  </label><br/> <hr>
</div>
<!--
    <label>
    <input type="radio" ng-model="color.name" value="jumping">
    punch
  </label><br/>
  <label>
    <input type="radio" ng-model="color.name" ng-value="standing">
    kick
  </label><br/>
</div>
 
      <br><hr><br>
      <div id="specials"> 
      <p>specials</p>
  <label>
    <input type="radio" ng-model="color.name" value="jumping">
    light
  </label><br/>
  <label>
    <input type="radio" ng-model="color.name" ng-value="standing">
    medium
  </label><br/>
  <label>
    <input type="radio" ng-model="color.name" value="crouching">
    heavy
  </label><br/> <hr>
  
  <label>
    <input type="radio" ng-model="color.name" value="jumping">
    hadoken
  </label><br/>
  <label>
    <input type="radio" ng-model="color.name" ng-value="standing">
    shoryuken
  </label><br/>
  <label>
    <input type="radio" ng-model="color.name" value="crouching">
    tatsu
  </label><br/> <hr>
  
-->
  <br><br>
       
        <label for="character">Character:</label>
        <input type="text" class="form-control" id="characterinput"> <br>
        
        <label for="game" >Game:</label>
        <input type="text" class="form-control" id="gameinput"> <br>
        
        <label for="notation">Combo Notation:</label>
        <input type="text" class="form-control" id="notationinput"> <br>
        
        <label for="aka" >Other names:</label>
        <input type="text" class="form-control" id="akainput"> <br>
        
        <label for="damage">Damage:</label>
        <input type="text" class="form-control" id="damageinput"> <br>
        
        <label for="stun">Stun:</label>
        <input type="text" class="form-control" id="stuninput"> <br>
        
        <label for="description">Main description:</label>
        <textarea type="text" id="descriptioninput" class="form-control" rows= "5"></textarea> <br>
        
        <label for="tags">Tags (separated by commas)</label>
        <input type="text" class="form-control" id="tagsinput"> <br>
        
        <label for="video">Youtube Embed Link</label>
        <input type="text" class="form-control" id="videoinput"> <br>
        
        <label for="modified">Last Modified (auto fills in)</label>    
        
    </div>
    
    